base.yml
db/*.sqlite3
log/*.log
tmp/

# foreman configuration
.env

# local console config
.irbrc

# ignore osx's ._ files
._*

# Ignore application configuration
/config/application.yml
/config/facebook.yml
/config/coinbase.yml
dump.rdb
