// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  html,
  body {
    min-height: 100%;
    height: 100%;
    width: 100%;
  }

  .header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .title {
    font-family: 'Stalemate', cursive;
    font-size: 144px;
    font-weight: bold;
    color: black;
  }

  .description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #222;
  }

  .header {
    display: table;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    background: url(image_path('rock_climbing.jpg')) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  hr.dark {
    width: 80%;
    border-top: 1px solid darkgray;
  }

  .intro {
    padding: 50px 0;
    text-align: center;
  }

  .intro p {
    color: rgba(26,26,26,.6);
  }
