<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row top-align">
        <h2 class="text-center">Let's get started!</h2>
        <br>
        <p class="text-center">Create a <%= link_to "commitment", new_commitment_path %></p>
        <p class="text-center"><%= link_to "Sponsor", commitments_path %> and get sponsored</p>
        <p class="text-center"><%= link_to "Fulfill", user_path(current_user) %> your commitments</p>
        <p class="text-center">Profit!</p>
      </div>
    </div>
  </div>
</div>
